body{
    font-family: 'Gotham Rounded Light';
}
.cancer-type, p {
    color: #464A4D;
    line-height: 22px 
}
.form-head, footer {
    background-color: #346094 
}
.head-img img, footer {
    width: 100% 
}
.h4, body, h4 {
    font-weight: 400 
}
.form-head, .head-img, .stepwizard {
    position: relative 
}
.custom-button .btn-default:hover, .vid-controller:hover {
    cursor: pointer 
}
.cancer-type, .info-text {
    font-family: 'Gotham Rounded Book';
}
.cancer-type {
    font-size: 18px 
}
h3 {
    color: #346094;
    font-size: 40px 
}
.head-img {
    padding: 0 
}
p {
    font-size: 18px;
    margin: 0 0 22px 
}
.form-head {
    padding: 5px;
    color: #fff;
    margin-top: 0;
    position: relative;
    z-index: 111;
}
footer {
    margin-top: 50px;
    color: #fff;
    float: left;
    padding: 17px;
    text-align: center 
}
footer p {
    color: #FFFFFF;
    font-family: 'Gotham Rounded Book';
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.33px;
    line-height: 17px;
    text-align: center;
    margin: 0 
}
.h4, h4 {
    font-size: 30px 
}
.form {
    margin-top: 30px 
}
.input-type {
    height: 60px;
    font-size: 14px;
    color: #464A4D;
    background-color: rgba(70, 74, 77, .1);
    border: 1px solid #ececed 
}
.submit .btn-submit {
    height: 50px;
    margin-bottom: 50px;
    font-size: 16px;
    border-radius: 4px 
}
::placeholder {
    opacity: 1;
    color:#464A4D !important;
    font-size: 14px !important;
}
::-webkit-input-placeholder {
    color:#464A4D !important;
    font-size: 14px !important;
    text-transform: uppercase;
    opacity: 1;
}
:-ms-input-placeholder {
    color:#464A4D !important;
    font-size: 14px !important;
    text-transform: uppercase;
    opacity: 1;
}
::-moz-placeholder {
    color:#464A4D !important;
    font-size: 14px !important;
    text-transform: uppercase;
    opacity: 1;
}
:-moz-placeholder {
    color:#464A4D !important;
    font-size: 14px !important;
    text-transform: uppercase;
    opacity: 1;
}
.arrow-down {
    width: 0;
    height: 0;
    clear: both;
    margin: auto;
    margin-top: -1px;
    border-left: 33px solid transparent;
    border-right: 33px solid transparent;
    border-top: 20px solid #346094;
}
.custom-button {
    margin-top: 10px 
}
.custom-button .btn-default {
    height: 60px;
    font-size: 14px;
    padding: 20px;
    text-align: center;
    color: #464A4D;
    margin-top: 10px;
    text-transform: uppercase;
    border-radius: unset 
}
.btn-default.active, .custom-button .btn-default:hover {
    background-color: #346094;
    color: #fff 
}
.btn-header {
    padding: 10px;
    color: #353535;
    font-family: 'Gotham Rounded Book';
    font-size: 20px;
}
.main-container{
    margin: auto;
}
#youtube-vid{
    width: 100%;
    max-height: 67vh;
    min-height: auto;
    height: 67vh;
}

@media (min-width:960px) {
    .main-container{
        width: 1024px;
   }
    .container{
        width: 100%;
   }
    #video-section{
        height: 67vh;
   }
    footer {
        margin-top: 71px;
        color: #fff;
        float: left;
        padding: 21px;
        height: 60px;
        background-color: #346094;
        text-align: center;
   }
    .form-head{
        height: 63px;
        padding: 0px;
        display: -webkit-inline-box;
        -webkit-box-pack: center;
        -webkit-box-align: center;
   }
}
@media only screen and (max-width:600px) {
    #youtube-vid{
        width: 100%;
        max-height: auto;
        min-height: auto;
        height: auto;
    }
    .form-head {
        margin-top: 0;
        padding:20px;
   }
    .header-content {
        display: none 
   }
    header h3 {
        font-size: 28px 
   }
    .main-container{
        width: 100%;
   }
    h4{
        font-size: 20px;
   }
    .cancer-type-container{
        width: 100% !important;
        padding: 5px;
   }
   .header-body{
       width: 100%;
   }
   .second-footer {
    padding: 12px !important;
    margin: 35px;
}
.custom-container{
    margin: 0px 10px 0px 10px;
}
.btn-header{
    padding: 5px;
}
.request-head img{
    width: 70%;
}
}
.stepwizard-step p {
    margin-top: 10px 
}
.stepwizard-row {
    display: table-row 
}
.stepwizard {
    display: table;
    width: 100%;
    margin: 40px auto 
}
.stepwizard-step button[disabled] {
    opacity: 1!important;
    filter: alpha(opacity=100)!important 
}
.stepwizard hr {
    border: 0;
    width: 55%;
    position: absolute;
    left: 0;
    top: 3px;
    height: 0px;
    right: 0;
    margin: auto;
    opacity: 0.2; 
    border-top: 2px solid #464A4D;
}
 
.stepwizard-step {
    display: table-cell;
    position: relative 
}
.btn-circle:hover, .btn-circle:visited, .btn.focus, .btn:focus {
    border: none!important 
}
:focus {
    outline: 0!important 
}
.second-footer {
    margin-top: 41px 
}
#video-section{
    position: relative; 
    z-index: 0 
}
#video-container {
    position: relative;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1 
}
.vid-controller {
    font-size: 35px;
    width: 50px;
    right: 0;
    top: 50%;
    left: 0;
    color: rgba(255, 255, 255, 0.59);
    display: none;
    position: absolute;
    margin: auto;
    z-index: 11;
}
.custom-label input {
    opacity: 0;
    position: absolute 
}
.custom-container {
    box-shadow: 0 0 24px 0 rgba(0,0,0,0.1); 
    -webkit-box-shadow: 0 0 24px 0 rgba(0,0,0,0.2);
    -ms-box-shadow: 0 0 24px 0 rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 24px 0 rgba(0,0,0,0.1);         
    background-color: #ffffff;
    position: relative;
    z-index: 99;
    margin-top: -1px;
}
.form-control {
    border-radius: 0 
}
a:hover {
    text-decoration: none 
}
.btn-circle, .btn-circle:hover {
    width: 40px!important;
    height: 40px!important;
    text-align: center;
    padding: 0!important;
    font-size: 20px;
    margin-top: -16px;
    line-height: 1.428571429;
    border-radius: 50%;
    font-family: 'Gotham Rounded';
}
 
.btn-primary{
    background-color: #346094;
}
.btn-default.btn-circle {
    background-color: #dadbdb;
    color: #fff 
}
.second-footer {
    padding: 20px; 
    border: 1px solid rgba(62,96,144,0.3);
   border-radius: 4px;
}
.form-two {
    display: none 
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    font-size: 16px;
    color: #353535;
    font-weight: 500 
}
.check-circle {
    background: #346094;
    color: #fff;
    width: 60px; 
    font-weight: 600;
    margin: 20px auto auto;
    display: flex;
    height: 60px;
    font-size: 30px;
    padding: 15px;
    border-radius: 50%;
}
.success-content, .success-content-link {
    color: #464A4D;
    font-size: 18px 
}
.itune {
    width: 94px 
}
.app-store {
    width: 195px 
}
.success-content-link {
    margin-top: 15px 
}
.bold, .success {
    font-size: 20px 
}
.success {
    text-transform: uppercase;
    font-weight: 600;
    margin-top: 20px 
}
.portal-app, .success-content-body {
    margin-top: 15px;
    margin-bottom: 60px 
}
.success-content-body {
    font-size: 20px;
    color: #353535;
    line-height: 33px;
}
.portal-app a {
    margin: 10px 
}
.bold {
    margin-top: 15px;
    margin-bottom: 60px;
    color: #353535;
    font-family: 'Gotham Rounded Book';
}
.btn-next { 
    margin: 0 auto auto;
    position: relative;
    z-index: 10 
}
#video-container {
    width: 100% 
}
.warning_red {
    border: 1px solid #e01919 !important 
}
.error-msg {
    font-family: 'Gotham Rounded Book';
    font-size: 13px;
    color: #ca1515;
    clear: both;
    margin-top: 5px 
}
.form-head h4 {
    margin: 0px;
    vertical-align: baseline;
    letter-spacing: -0.71px;
}
header h3{
    letter-spacing: -0.94px;
    font-weight: normal !important;
}
input[type=text], textarea {
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    outline: 0;
    border: 1px solid #DDD;
    padding: 15px;
    font-family: 'Gotham Rounded Book';
}
input[type=text]:focus, textarea:focus {
    box-shadow: 0 0 1px rgba(52, 96, 148, 1);
    border: 1px solid rgba(52, 96, 148, 1) 
}
.form-group {
    margin-left: -7px;
    margin-right: -7px;
}
.click-more{
    color: #346094;
    margin: 0px 0px 6px;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: -0.33px;
    text-align: center;
}
#SubmitButton,#next{
    font-family: 'Gotham Rounded Book';
    border-radius:0px;
}
.step-container{
    width: 230px;
    margin: auto;
}
.cancer-type-container{
    width: 774.05px;
    margin: auto;
}
.header-body{
    width: 727px;
    margin: auto;
    padding: 0px; 
    letter-spacing: -0.42px;
}
.request-head{
    margin-top: 30px;
    margin-bottom: 35px;
}
.request-second-footer{
    display: none;
}
.req-body{
    background: #f5f7f9 !important;
}
 
.req-body .custom-container {
   padding-top: 60px !important;
   padding-bottom: 30px !important;
}